hydra-core
langchain
langchain-text-splitters
langchain-community
langchain-nvidia-ai-endpoints
langchain-qdrant
unstructured
faiss-cpu
pytest
fastapi[all]
uvicorn
asyncio
aiohttp
aiofiles
pydantic
pydantic-settings
requests
beautifulsoup4
python-dotenv
